 .start {
     color: #b6a89d;
 }
 .button {
    background-color:#2ea2cc ;
    color: #fff;
    width:165px;
    height: 30px;
    text-align: center;
    padding-top:10px;
}

.pagination{
    display: inline-flex;
    border: 5px inset #dfdfdf;
    color: #a5a29d;
}

/* ================ Nav ================== */
